@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    I used 3 layer architecture to implement this app. Also used standart individual account autentehication.
    Didn't added Angular to the project, but I I have basic knowledge of AngularJS:
    https://github.com/YuraKhoma/Peonies/tree/addangular (Please don't look at the appearance of code)
    Also I didn't added unit tests because he didn't have time, but I have experience  in unit testing. 
    In my last working place we used NUnit and Moq.
</p>
